.land-body {
    background-color: #F5F7F9;
}

.landing-container {
    margin: 0 auto;
    width: 1200px;
    min-height: 86vh;
    padding: 5% 0;
    user-select: none;
}

.bottom-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;

    margin-bottom: 20px;
}

.landing-image {
    height: 40vh;
}

.container--landing-image--text {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.landing--text {
    font-size: 1.2rem;
}

.big-title {
    width: 100%;
    font-size: 3rem;
    color: #F04E4B;
    margin-left: 30px;
}

.big-title::first-line {
    color: #0B1E31;
}

.secondary-title-container {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}

.title-container {
    display: flex;
    justify-content: flex-start;
}

.icon--logo {
    height: 250px;
    background-color: #F04E4B;
    padding: 10px;
}

.secondary-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.6);;
    color: #fff;
}

.secondary-title {
    width: 100%;
    font-size: 2.3rem;
    color: #fff;
}

.secondary-text {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: #fff;
}

.secondary-button {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    width: 100%;
    text-align: center;
}