.card {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Top */

.card--top-side {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card--title {}

.card--time {
    display: flex;
    align-items: center;
}

.card--time-icon {
    height: 1.2rem;
    margin: 0 5px;
}

.card--time-icon--logo {
    height: 50px;
    margin-top: 10px;
}

.card-top--logo--title {
    display: flex;
    justify-content: flex-start;
}

.card--time-text {
    color: #F04E4B;
}


/* Middle */

.card--image-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.card--image-container {
    width: 100%;
    height: 50%;
}

.card--image {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    /* margin: 0px 0; */
}


/* Bottom */

.card--bottom-side {
    padding: 0 20px 0;
}

.card--text-section {
    margin-bottom: 30px;
}

.card--text-section-title {}

.card--text-section-text {}

.card--buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card--main-button,
.card--secondary-button {
    text-align: center;
}