.ready-main-container {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ready {
	font-size: 1.2rem;
	padding: 10px 30px;
	transition: opacity 0.3s ease;
}

.tip {
	user-select: none;
	display: none;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	width: 60%;
	transition: opacity 0.3s ease;
}

.tip-text {
	font-size: 1.1rem;
	font-weight: 300;
}

.tip-title {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 0 1px 0;
}

.loading-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-text {
	font-size: 1.3rem;
}

.loading-text,
.undo {
	color: #fd2b28;
}

.undo {
	cursor: pointer;
}

.loader {
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
