<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href={% static "css/base.css" %} />
    <link rel="stylesheet" href={% static "css/buttons.css" %} />
    <link rel="stylesheet" href={% static "css/Battles/css/loader.css" %} />
    <link rel="stylesheet" href={% static "css/Battles/css/ready.css" %} />
    <link rel="stylesheet" href={% static "css/header.css" %} />    
    <link rel="stylesheet" href={% static "css/Battles/css/battle.css" %} />
    <title>Битва Кодеров</title>
</head>

<body>

    <header class="header">
        <a href="{% url 'events' %}">
            <div class="header-logo--title--container">
                <img src={% static "images/events/alfa-name-white.png" %} class="header-title--logo">
                <p class="logo--text">#БитваКодеров</p>
            </div>
        </a>

        <div class="containe--header-buttons">

            <a class="profile-container" href="#">
                <img class="profile-image" src={% static "images/events/ava.png" %}>
                <div class="profile-user">
                    <span class="profile-name">{{ user.name }} {{ user.sirname }}</span>
                    {% if user.is_staff %}
                    <span class="profile-admin">Admin</span> {% endif %}
                </div>
            </a>


            {% if user.is_staff %}
            <a class="admin-panel-button button filled" href="/admin">Перейти в админ-панель</a> {% endif %}

            <form class="form--logout" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <button class="profile-logout button filled" type="submit">Выход</button>
            </form>
        </div>

    </header>

    <input id="user_id" type="hidden" value="{{ user.id }}">
    <input id="battle_id" type="hidden" value="{{ id }}">
    <!-- <h1>Вы открыли битву номер {{id}}</h1> -->
    <!-- <div class="content">

    </div>

        <main class="ready-main-container">

            <div class="tip">
                <h3 class="tip-title">Подсказка:</h3>
                <p class="tip-text"></p>
                <div class="loading-container">
                    <div class="loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span class="loading-text">Ожидаем готовности оппонента...</span>
                </div>
                <span class="undo">Отмена</span>
            </div>


            <input class="ready button filled" id="readybtn" type="submit" value="Готов к бою">


            <script src="{% static 'js/Battles/moveStatham.js' %}"></script>

        </main>
 -->




        <!-- Контейнер -->
			<div class="battle-container">
				<!-- Блок со зрителями -->
				<div class="watchers">
					<!-- Типо иконка зрителя -->
					<div class="watcher">
						<img src="../../CodeBattle/templates/static/images/events/clock-icon.svg" class="watcher-avatar" />
					</div>
					<!-- Типо иконка зрителя -->
					<div class="watcher">
						<img src="../../CodeBattle/templates/static/images/events/clock-icon.svg" class="watcher-avatar" />
					</div>
					<!-- Типо иконка зрителя -->
					<div class="watcher">
						<img src="../../CodeBattle/templates/static/images/events/clock-icon.svg" class="watcher-avatar" />
					</div>
				</div>

				<!-- Главный блок -->
				<div class="tasks">
					<div class="timer">
						<div class="time">0:00</div>
					</div>

					<!-- Задача с раиобаттонами -->
					<div class="task--radiobutton task">
						<h3 class="task--title">Задание 3</h3>
						<div class="task--text">
							Условие: Вруниш (всегда говорит неправду) и Правдиш (всегда говорит правду) решили взять для внука одного
							кота. Правдиш: Рыжего брать не будем. Вруниш: Возьмём белого. Задание: Определи, кого же они выбрали.
						</div>
						<form action="" class="task--answers">
							<div class="answers-grid">
								<div class="answers-grid-item">
									<input name="answer" class="task--answer" type="radio" value="1" />
									<span class="task--answer-label">Answer1thrgfhf</span>
								</div>
								<div class="answers-grid-item">
									<input name="answer" class="task--answer" type="radio" value="2" />
									<span class="task--answer-label">Answer2sdflksdjlkfjlskdjflksd</span>
								</div>

								<div class="answers-grid-item">
									<input name="answer" class="task--answer" type="radio" value="3" />
									<span class="task--answer-label">Answer3sdflsdkjlfsd</span>
								</div>
								<div class="answers-grid-item">
									<input name="answer" class="task--answer" type="radio" value="4" />
									<span class="task--answer-label"
										>Answer4sdfAnswer3sdflsdkjlfsdAnswer3sdflsdkjlfsdAnswer4sdfAnswer3sdflsdkjlfsdAnswer3sdflsdkjlfsd</span
									>
								</div>
							</div>

							<button class="task-answers-submit button filled">Submit</button>
						</form>
					</div>

					<!-- Задача с текстовым ответом -->
					<!-- Задача с кодом -->
				</div>

				<!-- Навигация по задачам -->
				<div class="problems">
					<div class="problem solved">
						<span class="problem--text">Задание 1</span>
					</div>
					<div class="problem solved">
						<span class="problem--text">Задание 2</span>
					</div>
					<div class="problem current">
						<span class="problem--text">Задание 2</span>
					</div>
					<div class="problem">
						<span class="problem--text">Задание 3</span>
					</div>
					<div class="problem">
						<span class="problem--text">Задание 4</span>
					</div>
					<div class="problem">
						<span class="problem--text">Задание 5</span>
					</div>
				</div>

				<!-- Статистика -->
				<div class="stats">
					<h3 class="stats--title">Задач решено:</h3>
					<span class="stats--row">
						<span>У тебя:&nbsp</span>
						<span class="stats--you">9</span>
					</span>
					<span class="stats--row">
						<span>У Противника:&nbsp</span>
						<span class="stats--enemy">10</span>
					</span>
				</div>
			</div>
		</main>








    {% load static %}
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <script src="{% static 'js/Battles/socket.js' %}"></script>
    <script src="{% static 'js/Battles/timer.js' %}"></script>

</body>

</html>