.timer {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.time {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.battle-container {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.watchers {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.watcher {
    margin: 0 auto;
    width: 40%;
    border-radius: 50%;
}


/* Tasks */

.tasks {
    width: 80%;
    padding: 20px 0;
}

.task {
    margin: 0 auto;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task--title {
    margin-bottom: 40px;
}

.task--text {
    width: 100%;
    margin-bottom: 30px;
}

.task--answers {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task-answers-submit {
    margin: 0 auto;
    width: 40%;
}

.answers-grid {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.answers-grid-item {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.task--answer {}

.task--answer-label {
    width: 100%;
    word-wrap: break-word;
    font-size: 0.9rem;
}

@media (max-width: 1000px) {
    .task {
        width: 75%;
    }
    .task-answers-submit {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .watchers {
        display: none;
    }
    .tasks {
        width: 100%;
    }
    .task {
        width: 80%;
    }
    .task-answers-submit {
        width: 60%;
    }
}