* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FDFDFD; }

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 0.8rem; }

p {
  font-size: 0.9rem; }

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  user-select: none; }

.form--title {
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 25px; }

.form--input {
  padding: 10px 5px;
  border: 1.5px solid rgba(128, 128, 128, 0.1);
  border-radius: 4px;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.2s ease; }

.form--input:focus {
  border-color: #347DF3; }

.form--check-container {
  display: flex;
  margin-bottom: 15px; }

.form--check-text {
  font-size: 0.9rem; }

.form--checkbox {
  margin-right: 10px; }

.form--label {
  display: flex;
  justify-content: start;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 2px;
  margin-bottom: 8px; }

.form--label, .form--input {
  width: 100%; }

.form--button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.button {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer; }

.filled {
  background-color: #347DF3; }

.text {
  font-size: 0.9rem;
  background: none;
  color: #347DF3;
  font-weight: 500; }

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.auth-form {
  width: 400px; }
