.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	user-select: none;
}

.form--title {
	margin: 0 auto;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 25px;
}

.form--input {
	padding: 10px 5px;
	border: 1.5px solid rgba(128, 128, 128, 0.1);
	border-radius: 4px;
	margin-bottom: 15px;
	outline: none;
	transition: border-color 0.2s ease;
}

.form--input:focus {
	border-color: #347df3;
}

.form--check-container {
	display: flex;
	margin-bottom: 15px;
}

.form--check-text {
	font-size: 0.9rem;
}

.form--checkbox {
	margin-right: 10px;
}

.form--label {
	display: flex;
	justify-content: start;
	font-size: 0.9rem;
	font-weight: 500;
	margin-left: 2px;
	margin-bottom: 8px;
}

.form--label,
.form--input {
	width: 100%;
}

.form--button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
