{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{#{%socialaccount %}#}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<form class="auth-form form" method="POST" action="{% url 'account_login' %}">
  <div class="form--title">Авторизация</div>
  {% csrf_token %}
  <label class="form--label" for="id_login">Имя пользователя:</label> 
     <input class="form--input" type="text" name="login" placeholder="Имя пользователя" autofocus="autofocus" maxlength="150" required id="id_login">
  <label class="form--label" for="id_password">Пароль:</label> 
    <input class="form--input" type="password" name="password" placeholder="Пароль" required id="id_password">
    <div class="form--check-container">
      <input class="form--checkbox"  type="checkbox" name="remember" id="id_remember">
      <div class="form--check-text">Запомнить меня</div>
   </div>
   <ul class="errorlist nonfield"></ul>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="form--button button filled" type="submit">{% trans "Sign In" %}</button>

  <div class="form--button">
    <p>Нет аккаунта?</p>
    <a class="primaryAction button text" href="{{ signup_url }}">Регистрация</a>
  </div>
  <div class="form--button">
    <a class="button text" href="{% url 'account_reset_password' %}">Восстановить пароль</a>
</div>
  {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-error">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-error">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
  {% endif %}
</form>

{% endblock %}
