.main-container {
    width: 100%;
    display: flex;
    padding: 10px;
}

.event-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 86vh;
}

.event-grid--item {
    height: 600px;
    margin: 20px;
    flex-basis: 31%;
}

.events-empty {
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #C6C6C6;
}

.events-empty--icon {
    margin: 0 20px;
    height: 3rem;
}

.events-empty--text {
    font-size: 3rem;
}

.event-grid--apply,
.event-grid--info {
    width: 35%;
}

.accepted {
    background-color: #C4C4C4;
}


/* Modal window */

.info-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal {
    width: 50%;
    padding: 30px 40px;
}

.modal--image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal--image {
    width: 50%;
}

.modal--buttons {
    justify-content: center;
}

.modal--text {
    font-size: 0.9rem;
}

.modal--span {
    display: flex;
    justify-content: flex-start;
}

.close-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 20px;
    user-select: none;
    font-size: 5rem;
    width: 100px;
    height: 100px;
}


/* .close-info-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
} */

.close-info-icon {
    height: 100%;
    opacity: 0.2;
    transition: opacity 0.15s ease;
}

.close-info-icon:hover {
    opacity: 0.6;
}